<h1>SignUp</h1>
<form method="post">
    {%csrf_token%}

    {{form.as_p}}
    <!-- <input type="text" name="first_name" placeholder="Ismingizni kiriting"><br>
    <input type="text" name="last_name" placeholder="Familiyangizni kiriting"><br>
    <input type="text" name="username" placeholder="Username kiriting"><br>
    <input type="email" name="email" placeholder="Email kiriting"><br>
    <input type="text" name="phone_number" placeholder="Telefoningizni kiriting"><br>
    <input type="text" name="password" placeholder="Parolni kiriting"><br>
 -->
<button type="submit">Saqlash</button>

</form>



